* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 46%, 89%);
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .content {
    padding: 16px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.container .image {
    width: 288px;
    height: 288px;
    background-image: url(../images/image-qr-code.png);
    background-size: cover;
    border-radius: 10px;
}

.container .text {
    text-align: center;
    padding: 12px;
}

.container .text h1 {
    font-size: 22px;
}